<div class="bg-light lter b-b wrapper-md">
    <h1 class="m-n h3">Role</h1>
</div>
<div class="wrapper-md">
    <div ng-controller="RolesController">
        <div class="wrapper table-responsive" ng-show="errorData">
            <div ng-repeat="error in errorData.errors" class="text-danger">
                <i class="fa fa-warning"></i> {{error.longMessage}}
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <form name="roleForm" class="form-horizontal form-validation">
                    <div class="panel panel-default" ng-init="data.status='ACT'">
                        <div class="panel-body">
                            <div class="form-group">
                                <label class="col-sm-3 control-label">Name * </label>
                                <div class="col-sm-9">
                                    <input type="text" ng-model="data.roleName" name="roleName" class="form-control" placeholder="Role Name">
                                </div>
                            </div>
                            <div class="line line-dashed b-b line-lg "></div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">Status</label>
                                <div class="col-sm-9">
                                    <label class="i-checks "> <input type="checkbox" ng-true-value="'ACT'" ng-false-value="'InACT'" name="status" ng-model="data.status">
                                        <i></i>
                                    </label> &nbsp; &nbsp;
                                </div>
                            </div>
                        </div>
                        <footer class="panel-footer text-right bg-light lter">
                            <button class="btn m-b-xs  btn-success " ng-click="saveRoles()">Save</button>
                            &nbsp;
                            <button class="btn m-b-xs  btn-dark" ng-click="$state.go('app.roles')"><i class="fa fa-times"></i> Cancel</button>
                            &nbsp;
                        </footer>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
