<div class="bg-light lter b-b wrapper-md">
  <h1 class="m-n h3">Organization Module</h1>
</div>

<div class="wrapper-md" ng-controller="OrgModuleController" ng-init="loadOrgModuleList()">
  <div class="panel panel-default">
    <div class="row wrapper">
      <div class="col-sm-5 m-b-xs">

        <button class="btn btn-sm btn-grey" ng-click="loadOrgModuleList()"> &nbsp; &nbsp; <i class="fa fa-repeat"></i> &nbsp; &nbsp; </button>

        <div class="btn-group" dropdown is-open="status.isopen">
          <button type="button" class=" btn btn-sm btn-grey" dropdown-toggle ng-disabled="disabled">
            More &nbsp;&nbsp;<span class="caret"></span>
          </button>
          <ul class="dropdown-menu" role="menu">
            <li><a href>Action</a></li>
            <li><a href>Another action</a></li>
            <li><a href>Something else here</a></li>
            <li class="divider"></li>
            <li><a href>Separated link</a></li>
          </ul>
        </div>
      </div>
      <div class="col-sm-4">
      </div>
      <div class="col-sm-2 pull-right">
      </div>
    </div>
    <div class="wrapper table-responsive">
      <table ng-table="tableParams" class="table table-striped b-t b-light">
        <tr ng-repeat="orgModule in $data">
          <td data-title="'Description'">
            {{orgModule.moduleName}}
          </td>
          <td data-title="'Active'">
            <div class="action-message">{{orgModule.status}}</div>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>