<div class="bg-light lter b-b wrapper-md">
  <h1 class="m-n h3">Room Types Details</h1>
</div>

<div class="wrapper-md" ng-controller="RoomChargesController" ng-init="loadRoomChargesList()">
  <div class="panel panel-default">
    <div class="row wrapper">
      <div class="col-sm-5 m-b-xs">

        <button class="btn btn-sm btn-grey" ng-click="loadRoomChargesList()"> &nbsp; &nbsp; <i class="fa fa-repeat"></i> &nbsp; &nbsp; </button>

        <div class="btn-group" dropdown is-open="status.isopen">
          <button type="button" class=" btn btn-sm btn-grey" dropdown-toggle ng-disabled="disabled">
            More &nbsp;&nbsp;<span class="caret"></span>
          </button>
          <ul class="dropdown-menu" role="menu">
            <li><a href>Action</a></li>
            <li><a href>Another action</a></li>
            <li><a href>Something else here</a></li>
            <li class="divider"></li>
            <li><a href>Separated link</a></li>
          </ul>
        </div>
      </div>
      <div class="col-sm-4">
      </div>
      <div class="col-sm-2 pull-right">
        <button class=" btn btn-sm btn-grey pull-right" ng-click="$state.go('app.createRoomCharges')"> &nbsp; &nbsp; <i class="fa fa-plus"></i> &nbsp; New Room Charges &nbsp; &nbsp; </button>
      </div>
    </div>
    <div class="wrapper table-responsive" ng-show="errorData">
      <div ng-repeat="error in errorData.errors" class="text-danger">
        <i class="fa fa-warning"></i> {{error.longMessage}}
      </div>
    </div>
    <div class="wrapper table-responsive" ng-show="!errorData">
      <table ng-table="tableParams" class="table table-striped b-t b-light">
        <tr ng-repeat="roomCharges in $data">
          <td data-title="'Item'" class="text-left">
            {{roomCharges.item}}
          </td>
          <td data-title="'Charge'" class="text-left">
            {{roomCharges.charge}}
          </td>
          <td data-title="'Bed Type'" class="text-left">
            {{roomCharges.roomName}}
          </td>
          <td data-title="'Status'" class="text-left">
            <div class="action-message">{{roomCharges.status}}</div>
          </td>
          <td class="text-right">
            <a ui-sref="app.editRoomCharges({oid:roomCharges.oid})">
              <i tooltip="Modify" tooltip-trigger tooltip-animation="false" tooltip-placement="bottom" class="fa fa-pencil"></i> </a>&nbsp;&nbsp;&nbsp; <a ng-click="deleteRoomCharges(roomCharges.oid)"> <i tooltip="Delete" tooltip-trigger tooltip-animation="false" tooltip-placement="bottom" class="fa fa-trash"></i> </a>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>
