<div class="bg-light lter b-b wrapper-md">
  <h1 class="m-n h3">USER REGISTRATION</h1>
</div>

<div class="wrapper-md" ng-controller="UserRegistrationController" ng-init="loadUserRegistrationList()">
  <div class="panel panel-default">
    <div class="row wrapper">
      <div class="col-sm-8 m-b-xs">
        <button class="btn btn-sm btn-grey" ng-click="loadUserRegistrationList()"> &nbsp; &nbsp; <i class="fa fa-repeat"></i> &nbsp; &nbsp; </button>
        &nbsp; &nbsp;
        <span ng-show="roleSelected > 1">
          <button class="btn btn-sm btn-grey"><i class="fa fa-pencil"></i> &nbsp; Edit</button> &nbsp; &nbsp;
          <button class="btn btn-sm btn-grey"><i class="fa fa-trash"></i> &nbsp; Delete</button>
        </span>
      </div>
      <div class="col-sm-2">
      </div>
      <div class="col-sm-2 pull-right">
        <button class=" btn btn-sm btn-info pull-right" ng-click="$state.go('app.createUserRegistration')"><i class="fa fa-plus"></i> &nbsp; New User</button>
      </div>
    </div>
    <div class="wrapper table-responsive" ng-show="errorData">
      <div ng-repeat="error in errorData.errors" class="text-danger">
        <i class="fa fa-warning"></i> {{error.longMessage}}
      </div>
    </div>
    <div class="wrapper table-responsive" ng-show="!errorData">
      <table ng-table="tableParams" class="table table-striped b-t b-light">
        <tr ng-repeat="userRegistration in $data">
          <td class="text-left" header="'ng-table/headers/checkbox.html'">
            <label class="i-checks "> <input type="checkbox" ng-model="checkboxes.items[role.oid]" /> <i></i> </label>
          </td>
          <td data-title="'Title'" class="text-left">
            {{userRegistration.salutation}}
          </td>
          <td data-title="'Employee Name'" class="text-left">
            {{userRegistration.firstName}} {{userRegistration.lastName}}
          </td>
          <td data-title="'User Name'" class="text-left">
            {{userRegistration.userName}}
          </td>
          <td data-title="'Designation'" class="text-left">
            {{userRegistration.designation}}
          </td>
          <td data-title="'Mobile No'" class="text-left">
            {{userRegistration.mobileNo}}
          </td>
          <td data-title="'Speciality'" class="text-left">
            {{userRegistration.speciality}}
          </td>
          <td data-title="'Activation Date'" class="text-left">
            {{userRegistration.activationDate | date : 'dd-MM-yyyy'}}
          </td>
          <td data-title="'Inactivation Date'" class="text-left">
            {{userRegistration.inActivationDate | date :'dd-MM-yyyy'}}
          </td>
          <td class="text-right">
            <a ui-sref="app.editUserRegistration({oid:userRegistration.oid})"> <i tooltip="Modify" tooltip-trigger tooltip-animation="false" tooltip-placement="bottom" class="fa fa-pencil"></i> </a>&nbsp;&nbsp;&nbsp; <a ng-click="deleteUserRegistration(userRegistration.oid)"> <i tooltip="Delete" tooltip-trigger tooltip-animation="false" tooltip-placement="bottom" class="fa fa-trash"></i> </a>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>