<div class="bg-light lter b-b wrapper-md">
  <h1 class="m-n h3">CATEGORY ITEM FOR CHARGE DETAILS</h1>
</div>

<div class="wrapper-md" ng-controller="AccountHeadController" ng-init="loadAccountHeadList()">
  <div class="panel panel-default">
    <div class="row wrapper">
      <div class="col-sm-8 m-b-xs">
        <button class="btn btn-sm btn-grey" ng-click="loadAccountHeadList()"> &nbsp; &nbsp; <i class="fa fa-repeat"></i> &nbsp; &nbsp; </button>
        &nbsp; &nbsp;
        <span ng-show="accountHeadSelected > 0">
          <button class="btn btn-sm btn-grey" ng-click="editMultipleAccountHeads()"><i class="fa fa-pencil"></i> &nbsp; Edit</button> &nbsp; &nbsp;
          <button class="btn btn-sm btn-grey" ng-click="deleteMultipleAccountHeads()"><i class="fa fa-trash"></i> &nbsp; Delete</button>
        </span>
      </div>
      <div class="col-sm-2">
      </div>
      <div class="col-sm-2 pull-right">
        <button class=" btn btn-sm btn-info pull-right" ng-click="$state.go('app.createAccountHead')"><i class="fa fa-plus"></i> &nbsp; NEW CATEGORY ITEM</button>
      </div>
    </div>
    <div class="wrapper table-responsive" ng-show="errorData">
      <div ng-repeat="error in errorData.errors" class="text-danger">
        <i class="fa fa-warning"></i> {{error.longMessage}}
      </div>
    </div>
    <div class="wrapper table-responsive" ng-show="!errorData">
      <table ng-table="tableParams" class="table table-striped b-t b-light">
        <tr ng-repeat="accountHead in $data">
          <td class="text-left" header="'ng-table/headers/checkbox.html'">
            <label class="i-checks "> <input type="checkbox" ng-model="checkboxes.items[accountHead.oid]" /> <i></i> </label>
          </td>
          <td data-title="'Category'">
            {{accountHead.category}}
          </td>
          <td data-title="'Description'">
            {{accountHead.description}}
          </td>
          <td data-title="'Status'" class="text-left" sortable="'status'">
            <label class="i-checks "> <input type="checkbox" disabled ng-true-value="'ACT'" ng-false-value="'InACT'" name="status" ng-model="accountHead.status"> <i></i> </label>
          </td>
          <td class="text-right">
            <a ui-sref="app.editAccountHead({oid:accountHead.oid})"> <i tooltip="Modify" tooltip-trigger tooltip-animation="false" tooltip-placement="bottom" class="fa fa-pencil"></i> </a>&nbsp;&nbsp;&nbsp; <a ng-click="deleteAccountHead(accountHead.oid, accountHead.name)"> <i tooltip="Delete" tooltip-trigger tooltip-animation="false" tooltip-placement="bottom" class="fa fa-trash"></i> </a>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>