<div class="bg-light lter b-b wrapper-md">
  <h1 class="m-n h3">NEW ROOM</h1>
</div>
<div class="wrapper-md">
  <div ng-controller="RoomController">
    <div class="wrapper table-responsive" ng-show="successMessage">
      <div class="text-success">
        <i class="fa fa-info-circle"></i> {{successMessage}}
      </div>
    </div>
    <div class="wrapper table-responsive" ng-show="errorData">
      <div ng-repeat="error in errorData.errors" class="text-danger">
        <i class="fa fa-warning"></i> {{error.longMessage}}
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <form name="roomForm" class="form-horizontal form-validation">
          <div class="panel panel-default" ng-init="data.status='ACT'">
            <div class="panel-body">
              <div class="form-group">
                <label class="col-lg-3 control-label">Ward Name *</label>

                <div class="col-lg-9">
                  <select class="form-control" name="wardName" ng-model="data.wardOid" ng-options="ward.value as ward.label for ward in wards | orderBy: label">
                    <option value="">Select Ward</option>
                  </select>
                </div>
              </div>
              <div class="line line-dashed b-b line-lg "></div>
              <div class="form-group">
                <label class="col-sm-3 control-label">BED Name * </label>

                <div class="col-sm-9">
                  <input type="text" ng-model="data.bedName" name="bedName" class="form-control" placeholder="BED Name">
                </div>
              </div>
              <div class="line line-dashed b-b line-lg "></div>
              <div class="form-group">
                <label class="col-sm-3 control-label">Occupancy Status * </label>

                <div class="col-sm-9">
                  <input type="text" ng-model="data.occupancyStatus" name="roomName" class="form-control" placeholder="Occupancy Status">
                </div>
              </div>
              <div class="line line-dashed b-b line-lg "></div>
              <div class="form-group">
                <label class="col-sm-3 control-label">Maintenance Status * </label>

                <div class="col-sm-9">
                  <input type="text" ng-model="data.maintenanceStatus" name="roomName" class="form-control" placeholder="Maintenance Status">
                </div>
              </div>
              <div class="line line-dashed b-b line-lg "></div>
              <div class="form-group">
                <label class="col-sm-3 control-label">Status</label>

                <div class="col-sm-9">
                  <label class="i-checks "> <input type="checkbox" checked="" ng-true-value="'ACT'" ng-false-value="'InACT'" name="status" ng-model="data.status"> <i></i> </label> &nbsp; &nbsp;
                </div>
              </div>
            </div>
            <footer class="panel-footer text-right bg-light lter">
              <button class="btn m-b-xs  btn-success " ng-click="saveRoom()">Save</button>
              &nbsp;
              <button class="btn m-b-xs  btn-dark" ng-click="$state.go('app.room')"><i class="fa fa-times"></i> Cancel</button>
              &nbsp;
            </footer>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>