<div class="bg-light lter b-b wrapper-md">
  <h1 class="m-n h3">DOCTOR SCHEDULE</h1>
</div>
<div class="wrapper-md" ng-controller="DoctorScheduleController">
  <div class="panel panel-default">
    <div class="panel-body">
      <div class="wrapper table-responsive" ng-show="successMessage">
        <div class="text-success">
          <i class="fa fa-info-circle"></i> {{successMessage}}
        </div>
      </div>
      <div class="wrapper table-responsive" ng-show="errorData">
        <div ng-repeat="error in errorData.errors" class="text-danger">
          <i class="fa fa-warning"></i> {{error.longMessage}}
        </div>
      </div>
      <div class="row clearfix">
        <div class="col-sm-12">
          <form name="doctorScheduleForm" class="form-horizontal form-validation">
            <div class="form-group">
              <label class="col-sm-2 control-label">Doctor * </label>

              <div class="col-lg-10">
                <select class="form-control" ng-model="data.doctorOid" ng-change="getScheduledDoctorDetailsByOid()">
                  <option value="">Select Doctor</option>
                  <option ng-repeat="doctor in doctorDetails | orderBy: doctor.label" ng-selected="doctor.value === data.doctorOid" value="{{doctor.value}}">{{doctor.label}}</option>
                </select>
              </div>
            </div>
            <div class="line line-dashed b-b line-lg "></div>
            <div class="form-group">
              <label class="col-sm-2 control-label">Speciality * </label>

              <div class="col-lg-10">
                <input type="text" ng-model="data.speciality" readonly maxlength="50" name="speciality" class="form-control" placeholder="Speciality">
              </div>
            </div>
            <div class="line line-dashed b-b line-lg "></div>
            <div class="form-group">
              <label class="col-sm-2 control-label">Select Day * </label>

              <div class="col-lg-2">
                <select class="form-control" name="visitingDay" ng-model="data.visitingDay">
                  <option value="">Select Day</option>
                  <option ng-repeat="dayDetail in daysDetails | orderBy: dayDetail.label" ng-selected="dayDetail.value === data.visitingDay" value="{{dayDetail.value}}">{{dayDetail.label}}</option>
                </select>
              </div>
            </div>
            <div class="line line-dashed b-b line-lg "></div>
            <div class="form-group">
              <label class="col-sm-2 control-label">Timing * </label>

              <div class="col-sm-2">
                <select class="form-control" name="startTime" ng-model="data.startTime">
                  <option value="">Select From</option>
                  <option ng-repeat="time in timesDetails | orderBy: time.label" ng-selected="time.value === data.startTime" value="{{time.value}}">{{time.label}}</option>
                </select>
              </div>
              <div class="col-sm-2">
                <select class="form-control" name="endTime" ng-model="data.endTime">
                  <option value="">Select To</option>
                  <option ng-repeat="time in timesDetails | orderBy: time.label" ng-selected="time.value === data.endTime" value="{{time.value}}">{{time.label}}</option>
                </select>
              </div>
            </div>
            <footer class="panel-footer text-right bg-light lter">
              <button class="btn m-b-xs  btn-success " ng-click="saveDoctorSchedule()">Assign</button>
              &nbsp;
              <button class="btn m-b-xs  btn-dark" ng-click="reset()"><i class="fa fa-times"></i> Cancel</button>
              &nbsp;
            </footer>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="panel panel-default" ng-init="loadDoctorScheduleList();">
    <div class="panel-body">
      <div class="row wrapper">
        <div class="col-sm-8 m-b-xs">
          <button class="btn btn-sm btn-grey" ng-click="loadDoctorScheduleList()"> &nbsp; &nbsp; <i class="fa fa-repeat"></i> &nbsp; &nbsp; </button>
          &nbsp; &nbsp;
          <span ng-show="doctorScheduleSelected > 0">
          <button class="btn btn-sm btn-grey" ng-click="editMultipleDoctorSchedules()"><i class="fa fa-pencil"></i> &nbsp; Edit</button> &nbsp; &nbsp;
          <button class="btn btn-sm btn-grey" ng-click="deleteMultipleDoctorSchedules()"><i class="fa fa-trash"></i> &nbsp; Delete</button>
        </span>
        </div>
      </div>
      <div class="wrapper table-responsive" ng-show="!errorData">
        <table ng-table="tableParams" class="table table-striped b-t b-light">
          <tr ng-repeat="doctorSchedule in $data track by $index">
            <td class="text-left" header="'ng-table/headers/checkbox.html'">
              <label class="i-checks "> <input type="checkbox" ng-model="checkboxes.items[doctorSchedule.oid]" /> <i></i> </label>
            </td>
            <td data-title="'Doctor Name'" class="text-left" sortable="'fullName'">
              {{doctorSchedule.fullName}}
            </td>
            <td data-title="'Speciality'" class="text-left" sortable="'speciality'">
              {{doctorSchedule.speciality}}
            </td>
            <td data-title="'Visiting Day'" class="text-left" sortable="'visitingDay'">
              {{doctorSchedule.visitingDay}}
            </td>
            <td data-title="'Start Time'" class="text-left">
              {{doctorSchedule.startTime}}
            </td>
            <td data-title="'End Time'" class="text-left">
              {{doctorSchedule.endTime}}
            </td>
            <td data-title="'Status'" class="text-left" sortable="'status'">
              <label class="i-checks "> <input type="checkbox" disabled ng-true-value="'ACT'" ng-false-value="'INACT'" name="doctorStatus" ng-model="doctorSchedule.doctorStatus"> <i></i> </label>
            </td>
            <td class="text-right">
              <a href="#" data-ng-click="loadDoctorSchedule(doctorSchedule)"> <i tooltip="Modify" tooltip-trigger tooltip-animation="false" tooltip-placement="bottom" class="fa fa-pencil"></i> </a>&nbsp;&nbsp;&nbsp; <a ng-click="deleteDoctorSchedule(doctorSchedule.oid, doctorSchedule.fullName)"> <i tooltip="Delete" tooltip-trigger tooltip-animation="false" tooltip-placement="bottom" class="fa fa-trash"></i> </a>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>