<div class="modal-header">
  <h3>{{modalOptions.headerText}}</h3>
</div>
<div class="modal-body">
	<div class="wrapper table-responsive" ng-show="modalSuccessMessage">
	    <div class="text-success">
	      <i class="fa fa-info-circle"></i> {{modalSuccessMessage}}
	    </div>
	</div>
	<div class="wrapper table-responsive" ng-show="modalErrorData">
	    <div ng-repeat="error in modalErrorData.errors" class="text-danger">
	      <i class="fa fa-warning"></i> {{error.longMessage}}
	    </div>
	</div>
  <div class="wrapper table-responsive">
    <table class="table table-striped b-t b-light">
      <thead>
      <td class="text-left">
        Allied Charges
      </td>
      <td class="text-left">
        Status
      </td>
      </thead>
      <tbody>
      <tr ng-repeat="alliedCharges in modalOptions.alliedChargesSelectedItems track by alliedCharges.oid">
        <td class="text-left">
          <input type="text" ng-model="alliedCharges.alliedCharges" name="alliedCharges" class="form-control" placeholder="Allied Charges">
        </td>
        <td class="text-left">
          <label class="i-checks "> <input type="checkbox" ng-true-value="'ACT'" ng-false-value="'INACT'" name="status" ng-model="alliedCharges.status"> <i></i> </label>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn" data-ng-click="close()">{{modalOptions.closeButtonText}}</button>
  <button class="btn btn-primary" data-ng-click="saveMultipleAlliedCharges()">{{modalOptions.actionButtonText}}</button>
</div>