<div class="bg-light lter b-b wrapper-md">
  <h1 class="m-n h3">EDIT LOGIN</h1>
</div>
<div class="wrapper-md">
  <div ng-controller="LoginController">
    <div class="wrapper table-responsive" ng-show="successMessage">
      <div class="text-success">
        <i class="fa fa-info-circle"></i> {{successMessage}}
      </div>
    </div>
    <div class="wrapper table-responsive" ng-show="errorData">
      <div ng-repeat="error in errorData.errors" class="text-danger">
        <i class="fa fa-warning"></i> {{error.longMessage}}
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <form name="loginForm" class="form-horizontal form-validation">
          <div class="panel panel-default" ng-init="loadLoginDetails()">
            <div class="panel-body">
              <div class="form-group">
                <label class="col-sm-3 control-label">User *</label>

                <div class="col-sm-6">
                  <select class="form-control" ng-model="data.userOid" onchange="prePopulateLoginDetails()">
                    <option value="">Select User</option>
                    <option ng-repeat="userDetail in userDetails | orderBy: userDetail.label" ng-selected="userDetail.value === data.userOid" value="{{userDetail.value}}">{{userDetail.label}}</option>
                  </select>
                </div>
              </div>
              <div class="line line-dashed b-b line-lg "></div>
              <div class="form-group">
                <label class="col-sm-3 control-label">User Name * </label>

                <div class="col-sm-6">
                  <input type="text" ng-model="data.userId" maxlength="100" class="form-control" placeholder="User Name">
                </div>
              </div>
              <div class="line line-dashed b-b line-lg "></div>
              <div class="form-group" ng-class="{'ng-hide':data.id!=null}">
                <label class="col-sm-3 control-label">Password * </label>

                <div class="col-sm-6">
                  <input type="password" ng-model="data.password" maxlength="50" class="form-control" placeholder="Password">
                </div>
              </div>
              <div class="line line-dashed b-b line-lg "></div>
              <div class="form-group">
                <label class="col-sm-3 control-label">Status</label>

                <div class="col-sm-2">
                  <label class="i-checks "> <input type="checkbox" ng-true-value="'ACT'" ng-false-value="'INACT'" name="status" ng-model="data.status"> <i></i> </label> &nbsp; &nbsp;
                </div>
              </div>
              <div class="line line-dashed b-b line-lg "></div>
              <div class="form-group">
                <label class="col-sm-3 control-label">Activation Date</label>

                <div class="col-sm-4">
                  <div class="input-group">
                    <input type="text" class="form-control" datepicker-popup="{{format}}" min-date="activationMinDate" ng-model="data.activationDate" is-open="openedActivationDate" datepicker-options="dateOptions" ng-required="true" close-text="Close" />
                    <span class="input-group-btn">
                      <button type="button" class="btn btn-default" ng-click="openActivationDate($event)">
                        <i class="glyphicon glyphicon-calendar"></i>
                      </button>
                    </span>
                  </div>
                </div>
              </div>
              <div class="line line-dashed b-b line-lg "></div>
              <div class="form-group">
                <label class="col-sm-3 control-label">Inactivation Date</label>

                <div class="col-sm-4">
                  <div class="input-group">
                    <input type="text" class="form-control" datepicker-popup="{{format}}" min-date="inactivationMinDate" ng-model="data.inactivationDate" is-open="openedInActivationDate" datepicker-options="dateOptions" ng-required="true" close-text="Close" />
										<span class="input-group-btn">
										<button type="button" class="btn btn-default" ng-click="openInActivationDate($event)">
                      <i class="glyphicon glyphicon-calendar"></i></button>
										</span>
                  </div>
                </div>
              </div>
            </div>
            <footer class="panel-footer text-right bg-light lter">
              <button class="btn m-b-xs  btn-success " ng-click="saveLogin()">Update</button>
              &nbsp;
              <button class="btn m-b-xs  btn-dark" ng-click="$state.go('app.login')"><i class="fa fa-times"></i> Cancel</button>
              &nbsp;
            </footer>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>