<div class="modal-header">
  <h3>{{modalOptions.headerText}}</h3>
</div>
<div class="modal-body">
  <div class="wrapper table-responsive" ng-show="modalSuccessMessage">
    <div class="text-success">
      <i class="fa fa-info-circle"></i> {{modalSuccessMessage}}
    </div>
  </div>
  <div class="wrapper table-responsive" ng-show="modalErrorData">
    <div ng-repeat="error in modalErrorData.errors" class="text-danger">
      <i class="fa fa-warning"></i> {{error.longMessage}}
    </div>
  </div>
  <div class="wrapper table-responsive">
    <table class="table table-striped b-t b-light">
      <thead>
      <td class="text-left">
        Ward Name
      </td>
      <td class="text-left">
        BED Name
      </td>
      <td class="text-left">
        Occupancy Status
      </td>
      <td class="text-left">
        Maintenance Status
      </td>
      <td class="text-left">
        Status
      </td>
      </thead>
      <tbody>
      <tr ng-repeat="room in modalOptions.roomSelectedItems track by room.oid">
        <td class="text-left">
          <select class="form-control" name="wardOid" ng-model="room.wardOid">
            <option value="">Select Ward</option>
            <option ng-repeat="ward in modalOptions.wards | orderBy: ward.label" ng-selected="ward.value === room.wardOid" value="{{ward.value}}">{{ward.label}}</option>
          </select>
        </td>
        <td class="text-left">
          <input type="text" ng-model="room.bedName" maxlength="100" name="bedName" class="form-control" placeholder="BED Name">
        </td>
        <td class="text-left">
          <input type="text" ng-model="room.occupancy" maxlength="50" name="occupancy" class="form-control" placeholder="Occupancy Status">
        </td>
        <td class="text-left">
        	<select class="form-control" name="maintenanceOid" ng-model="room.maintenanceOid">
            	<option value="">Select Maintenance</option>
            	<option ng-repeat="maintenance in modalOptions.maintenances | orderBy: maintenance.label" ng-selected="maintenance.value === room.maintenanceOid" value="{{maintenance.value}}">{{maintenance.label}}</option>
          	</select>
        </td>
        <td class="text-left">
          <label class="i-checks "> <input type="checkbox" ng-true-value="'ACT'" ng-false-value="'INACT'" name="status" ng-model="room.status"> <i></i> </label>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn" data-ng-click="close()">{{modalOptions.closeButtonText}}</button>
  <button class="btn btn-primary" data-ng-click="saveMultipleRoom()">{{modalOptions.actionButtonText}}</button>
</div>