<div class="modal-header">
  <h3>{{modalOptions.headerText}}</h3>
</div>
<div class="modal-body">
	<div class="wrapper table-responsive" ng-show="modalSuccessMessage">
    <div class="text-success">
      <i class="fa fa-info-circle"></i> {{modalSuccessMessage}}
    </div>
  </div>
  <div class="wrapper table-responsive" ng-show="modalErrorData">
    <div ng-repeat="error in modalErrorData.errors" class="text-danger">
      <i class="fa fa-warning"></i> {{error.longMessage}}
    </div>
  </div>
  <div class="wrapper table-responsive">
    <table class="table table-striped b-t b-light">
      <thead>
      <td class="text-left">
        Item
      </td>
      <td class="text-left">
        Charge
      </td>
      <td class="text-left">
        BED Type
      </td>
      <td class="text-left">
        Status
      </td>
      </thead>
      <tbody>
      <tr ng-repeat="roomCharge in modalOptions.roomChargeSelectedItems track by roomCharge.oid">
        <td class="text-left">
          <select class="form-control" ng-model="roomCharge.roomChargeItemsOid" ng-options="roomChargeItem.value as roomChargeItem.label for roomChargeItem in modalOptions.roomChargeItems | orderBy: label">
            <option value="">Select Category</option>
          </select>
        </td>
        <td class="text-left">
          <input type="text" ng-model="roomCharge.charge" maxlength="10" name="charge" class="form-control" placeholder="Charge">
        </td>
        <td class="text-left">
          <select class="form-control" ng-model="roomCharge.roomTypeOid" ng-options="roomType.value as roomType.label for roomType in modalOptions.roomTypes | orderBy: label">
            <option value="">Select Type</option>
          </select>
        </td>
        <td class="text-left">
          <label class="i-checks "> <input type="checkbox" ng-true-value="'ACT'" ng-false-value="'INACT'" name="status" ng-model="roomCharge.status"> <i></i> </label>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn" data-ng-click="close()">{{modalOptions.closeButtonText}}</button>
  <button class="btn btn-primary" data-ng-click="saveMultipleRoomCharges();">{{modalOptions.actionButtonText}}</button>
</div>