<div class="modal-header">
  <h3>{{modalOptions.headerText}}</h3>
</div>
<div class="modal-body">
  <div class="wrapper table-responsive" ng-show="modalSuccessMessage">
    <div class="text-success">
      <i class="fa fa-info-circle"></i> {{modalSuccessMessage}}
    </div>
  </div>
  <div class="wrapper table-responsive" ng-show="modalErrorData">
    <div ng-repeat="error in modalErrorData.errors" class="text-danger">
      <i class="fa fa-warning"></i> {{error.longMessage}}
    </div>
  </div>
  <div class="wrapper table-responsive">
    <table class="table table-striped b-t b-light">
      <thead>
      <td class="text-left">
        Doctor Name
      </td>
      <td class="text-left">
        Visiting Day
      </td>
      <td class="text-left">
        Start Time
      </td>
      <td class="text-left">
        End Time
      </td>
      <td class="text-left">
        Status
      </td>
      </thead>
      <tbody>
      <tr ng-repeat="doctorSchedule in modalOptions.doctorScheduleSelectedItems track by $index">
        <td class="text-left">
          <select class="form-control" name="doctorOid" ng-model="doctorSchedule.doctorOid">
            <option value="">Select Doctor</option>
            <option ng-repeat="doctor in modalOptions.doctorDetails | orderBy: doctor.label" ng-selected="doctor.value === doctorSchedule.doctorOid" value="{{doctor.value}}">{{doctor.label}} &nbsp; ( {{doctor.speciality }} )</option>
          </select>
        </td>
        <td>
          <select class="form-control" name="doctorOid" ng-model="doctorSchedule.visitingDay">
            <option value="">Select Doctor</option>
            <option ng-repeat="dayDetail in modalOptions.daysDetails | orderBy: dayDetail.label" ng-selected="dayDetail.value === doctorSchedule.visitingDay" value="{{dayDetail.value}}">{{dayDetail.label}}</option>
          </select>
        </td>
        <td>
          <select class="form-control" name="endTime" ng-model="doctorSchedule.startTime">
            <option value="">Select From</option>
            <option ng-repeat="time in modalOptions.timesDetails | orderBy: time.label" ng-selected="time.value === doctorSchedule.startTime" value="{{time.value}}">{{time.label}}</option>
          </select>
        </td>
        <td>
          <select class="form-control" name="endTime" ng-model="doctorSchedule.endTime">
            <option value="">Select To</option>
            <option ng-repeat="time in modalOptions.timesDetails | orderBy: time.label" ng-selected="time.value === doctorSchedule.endTime" value="{{time.value}}">{{time.label}}</option>
          </select>
        </td>
        <td class="text-left">
        	<label class="i-checks "> <input type="checkbox" ng-true-value="'ACT'" ng-false-value="'INACT'" name="status" ng-model="doctorSchedule.status"> <i></i> </label>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn" data-ng-click="close()">{{modalOptions.closeButtonText}}</button>
  <button class="btn btn-primary" data-ng-click="saveMultipleDoctorSchedules();">{{modalOptions.actionButtonText}}</button>
</div>