<div class="bg-light lter b-b wrapper-md">
  <h1 class="m-n h3">LOGIN DETAILS</h1>
</div>

<div class="wrapper-md" ng-controller="LoginController" ng-init="loadLoginList()">
  <div class="panel panel-default">
    <div class="row wrapper">
      <div class="col-sm-8 m-b-xs">
        <button class="btn btn-sm btn-grey" ng-click="loadLoginList()"> &nbsp; &nbsp; <i class="fa fa-repeat"></i> &nbsp; &nbsp; </button>
        &nbsp; &nbsp;
        <span ng-show="userSelected > 0">
          <button class="btn btn-sm btn-grey"><i class="fa fa-trash"></i> &nbsp; Delete</button>
        </span>
      </div>
      <div class="col-sm-2">
      </div>
      <div class="col-sm-2 pull-right">
        <button class=" btn btn-sm btn-info pull-right" ng-click="$state.go('app.createLogin')"><i class="fa fa-plus"></i> &nbsp; New Login</button>
      </div>
    </div>
    <div class="wrapper table-responsive" ng-show="errorData">
      <div ng-repeat="error in errorData.errors" class="text-danger">
        <i class="fa fa-warning"></i> {{error.longMessage}}
      </div>
    </div>
    <div class="wrapper table-responsive" ng-show="!errorData">
      <table ng-table="tableParams" class="table table-striped b-t b-light">
        <tr ng-repeat="login in $data">
          <td data-title="'Employee Name'" class="text-left">
            {{login.firstName}} {{login.lastName}} 
          </td>
          <td data-title="'User Name'" class="text-left">
            {{login.userId}}
          </td>
          <td data-title="'Password'" class="text-left">
            {{login.password}}
          </td>
          <td data-title="'Activation Date'" class="text-left">
            {{login.activationDate | date : 'yyyy-MM-dd'}}
          </td>
          <td data-title="'Inactivation Date'" class="text-left">
            {{login.inactivationDate | date : 'yyyy-MM-dd'}}
          </td>
          <td data-title="'Status'" class="text-left" sortable="'status'">
            <label class="i-checks "> <input type="checkbox" disabled ng-true-value="'ACT'" ng-false-value="'INACT'" name="status" ng-model="login.status"> <i></i> </label>
          </td>
          <td class="text-right">
            <a ui-sref="app.editLogin({oid:login.userOid})"> <i tooltip="Modify" tooltip-trigger tooltip-animation="false" tooltip-placement="bottom" class="fa fa-pencil"></i> </a>&nbsp;&nbsp;&nbsp; <a ng-click="deleteLogin(login.userOid)"> <i tooltip="Delete" tooltip-trigger tooltip-animation="false" tooltip-placement="bottom" class="fa fa-trash"></i> </a>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>