<div class="bg-light lter b-b wrapper-md">
  <h1 class="m-n h3">ORGANIZATION MODULE</h1>
</div>

<div class="wrapper-md" ng-controller="OrgModuleController" ng-init="loadOrgModuleList()">
  <div class="panel panel-default">
    <div class="wrapper table-responsive" ng-show="successMessage">
      <div class="text-success">
        <i class="fa fa-info-circle"></i> {{successMessage}}
      </div>
    </div>
    <div class="wrapper table-responsive" ng-show="errorData">
      <div ng-repeat="error in errorData.errors" class="text-danger">
        <i class="fa fa-warning"></i> {{error.longMessage}}
      </div>
    </div>
    <div class="row wrapper">
      <div class="col-sm-8 m-b-xs">
        <button class="btn btn-sm btn-grey" ng-click="loadOrgModuleList()"> &nbsp; &nbsp; <i class="fa fa-repeat"></i> &nbsp; &nbsp; </button>
        &nbsp; &nbsp;
        <span ng-show="moduleSelectedItems.length > 0">
          <button class="btn btn-sm btn-grey" ng-click="updateModuleStatus(moduleSelectedItems,'DEACTIVATE');"><i class="fa fa-pencil"></i> &nbsp; DEACTIVATE</button> &nbsp; &nbsp;
        </span>
      </div>
    </div>
    <div class="wrapper table-responsive">
      <table ng-table="tableParams" class="table table-striped b-t b-light">
        <tr ng-repeat="orgModule in $data">
          <td class="text-left" header="'ng-table/headers/checkbox.html'">
            <label class="i-checks "> <input type="checkbox" ng-model="checkboxes.items[orgModule.oid]" /> <i></i> </label>
          </td>
          <td data-title="'Module Name'">
            {{orgModule.moduleName}}
          </td>
          <td data-title="'Status'">
            <label class="i-checks "> <input type="checkbox" ng-true-value="'ACT'" ng-click="updateModuleStatus(orgModule, orgModule.status);" ng-false-value="'InACT'" name="status" ng-model="orgModule.status"> <i></i> </label>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>