<div class="bg-light lter b-b wrapper-md">
  <h1 class="m-n h3">ROOM CHARGES DETAILS</h1>
</div>
<div class="wrapper-md" ng-controller="RoomChargesController" ng-init="loadRoomChargesList()">
  <div class="panel panel-default">
    <div class="row wrapper">
      <div class="col-sm-8 m-b-xs">
        <button class="btn btn-sm btn-grey" ng-click="loadRoomChargesList()"> &nbsp; &nbsp; <i class="fa fa-repeat"></i> &nbsp; &nbsp; </button>
        &nbsp; &nbsp;
        <span ng-show="roomChargeSelected > 0">
          <button class="btn btn-sm btn-grey" ng-click="editMultipleRoomCharges()"><i class="fa fa-pencil"></i> &nbsp; Edit</button> &nbsp; &nbsp;
          <button class="btn btn-sm btn-grey" ng-click="deleteMultipleRoomCharges()"><i class="fa fa-trash"></i> &nbsp; Delete</button>
        </span>
      </div>
      <div class="col-sm-2"></div>
      <div class="col-sm-2 pull-right">
        <button class=" btn btn-sm btn-info pull-right" ng-click="$state.go('app.createRoomCharges')"><i class="fa fa-plus"></i> &nbsp; New Room Charge</button>
      </div>
    </div>
    <div class="wrapper table-responsive" ng-show="errorData">
      <div ng-repeat="error in errorData.errors" class="text-danger">
        <i class="fa fa-warning"></i> {{error.longMessage}}
      </div>
    </div>
    <div class="wrapper table-responsive" ng-show="!errorData">
      <table ng-table="tableParams" class="table table-striped b-t b-light">
        <tr ng-repeat="roomCharges in $data">
          <td class="text-left" header="'ng-table/headers/checkbox.html'">
            <label class="i-checks "> <input type="checkbox" ng-model="checkboxes.items[roomCharges.oid]" /> <i></i> </label>
          </td>
          <td data-title="'Item'" class="text-left">
            {{roomCharges.item}}
          </td>
          <td data-title="'Charge'" class="text-left">
            {{roomCharges.charge}}
          </td>
          <td data-title="'Bed Type'" class="text-left">
            {{roomCharges.roomName}}
          </td>
          <td data-title="'Status'" class="text-left">
            <label class="i-checks "> <input type="checkbox" disabled ng-true-value="'ACT'" ng-false-value="'InACT'" name="status" ng-model="roomCharges.status"> <i></i> </label>
          </td>
          <td class="text-right">
            <a ui-sref="app.editRoomCharges({oid:roomCharges.oid})"> <i tooltip="Modify" tooltip-trigger tooltip-animation="false" tooltip-placement="bottom" class="fa fa-pencil"></i> </a>&nbsp;&nbsp;&nbsp; <a ng-click="deleteRoomCharges(roomCharges.oid)"> <i tooltip="Delete" tooltip-trigger tooltip-animation="false" tooltip-placement="bottom" class="fa fa-trash"></i> </a>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>
